/* ==========================================================================
Styles for Button component
========================================================================== */

// import mixin and variables
@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";

.space-app-button {
  display: inline-block;
  outline: 0;
  text-align: center;
  min-width: 114px;
  min-height: 40px;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.12px;
  background-color: transparent;
  border: solid 1px $white;
  color: $white;
  border-radius: 20rem;
  transition: all 0.25s ease;
  text-decoration: none;
  cursor: pointer;
  margin: 0 30px 0 30px;
  text-transform: uppercase;

  &:hover {
    border: solid 1px $violet;
    background-color: $violet;
  }
  &.violet {
    border: solid 1px $violet;
    background-color: $violet;
  }
  &.primary-pink {
    background-color: $pink;
    border: solid 1px $pink;
  }

  @include small {
    font-size: 12px;
    min-width: 108px;
    min-height: 32px;
    padding: 3px 31px 3px;
  }
}
