@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";

// .drop-zone-container {
// .planet-droped {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// .planet-name {
//   margin-top: 20px;
//   padding: 3px 10px;
//   border-radius: 20px;
//   width: fit-content;
//   &.wrong {
//     background-color: $pink;
//   }
//   p {
//     font-size: 0.8rem;
//     text-align: center;
//     line-height: 18px;
//     font-weight: 600;
//   }
// }
// }
// }
.drop-zone {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px dashed;
  border-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s all ease;
  &.active {
    border-color: white;
  }
}
