// import mixin and variables
@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";

.instructions {
  padding-top: 80px;

  .instructions-logo-wrapper {
    text-align: center;
  }
  .instructions-title {
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 9px;
    margin: 10px 0px;
  }

  .instructions-description {
    padding: 10px 20px;
    max-height: 30vh;
    max-width: 52vw;
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: $transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $gray;
      border-radius: 5px;
    }

    p {
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 600;
      color: $white;
      word-break: break-word;
    }
  }

  .instructions-button-wrapper {
    z-index: $z-index;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%);
  }
  
}