@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";

.main-game {
  height: 100vh;
  padding: 50px 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .space-app-image {
    display: flex;
    justify-content: center;
  }
  .planets {
    position: relative;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    transition: all ease 0.3s;
    padding-bottom: 120px;
  }
  .wrapper-zone {
    height: 30vh;
    margin-top: 80px;
    .guide {
      margin: 0;
      color: $white;
      font-size: 1rem;
      font-weight: 600;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .drop-zone-container {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
  }
  .button-wrapper {
    display: flex;
    flex-direction: column;
    .play-again-button {
      margin-top: 20px;
    }
  }
  .submit-button {
    margin-bottom: 70px;
  }
}
