@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";
.planet {
  transform: translate(0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.on-drag {
    // display: none;
    opacity: 0;
    &.isPlaceholder {
      opacity: 1;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 2px dashed;
      border-color: rgba(255, 255, 255, 0.5);
      p {
        opacity: 0;
      }
      img {
        opacity: 0;
      }
    }
  }
  .planetName {
    margin: 15px auto 0 auto;
    padding: 3px 10px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    &.wrong {
      background-color: $pink;
    }
    p {
      line-height: 18px;
      margin: 0;
      color: $white;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
