// import mixin and variables
@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";

.home {
  &.animate__animated {
    --animate-duration: 2s;
    animation-duration: 2s;
  }
  padding-top: 120px;

  .home-logo-wrapper {
    text-align: center;
  }
  .home-image-wrapper {
    text-align: center;
    margin-top: 16px;
  }

  .home-button-wrapper {
    z-index: $z-index;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%);
  }
}
