// import mixin and variables
@import "../../assets/styles/function", "../../assets/styles/mixin",
  "../../assets/styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .mainbg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    img {
      width: 100vw;
      height: 100vh;
    }
  }
}
