@import "./variables.scss", "./function.scss", "./mixin.scss";

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  font-family: $ff-main;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  color: $black;
  letter-spacing: normal;
  background: url("../space-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;

  @include small {
    overflow: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  img {
    max-width: 100%;
  }
}
