// Font Family
$ff-main: "AvenirNext", sans-serif;

// color
$black: #000000;
$violet: #7b2cba;
$white: #ffffff;
$gray: #888;
$pink: #fa5c5c;
$transparent: transparent;

// z-index
$z-index: 1;

// screen
$screen: (
  large: 1440px,
  medium: 1024px,
  small: 896px,
  phone: 480px,
  iphone5: 320px,
);
